    #svg-map { margin-top: 50px; transform: scale(1.2); }
    #svg-map path { fill:#e88ab8;}
    #svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
    #svg-map a{ text-decoration:none }
    #svg-map a:hover { cursor:pointer; text-decoration:none; }
    #svg-map a:hover path{ fill:#f5d042 !important;}
    #svg-map .circle { fill:#e88ab8 }
    #svg-map a:hover .circle { fill:#f5d042 !important; cursor:pointer }

/*
 * -- SPLASH STYLES --
 */

.splash-container {
    background: #222 url("hero.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    /* scroll-over effect */
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 90%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 80px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-weight: 100;
    border-radius: 5px;
    animation: fadeIn 1s ease-in;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    animation: fadeIn 1s ease-in;
}

/*
 * -- CONTENT STYLES --
 */

.content-wrapper {
    /* scroll-over effect */
    position: absolute;
    top: 30%;
    width: 100%;
    min-height: 12%;
    z-index: 2;

}

.content-head {
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 1.5em 0 1em;
}

.content-subhead {
    color: #e88ab8;
}

.resultados label {
    padding: 20px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
    font-size: 1.2em;
    height: 50px;
    line-height: 10px;
}

.resultados {
    width: 100%;
    margin: 10px auto 0px auto;
    text-align: left;
    }

    .resultados label:hover {
        background: #fff;
    }

    .resultados input:checked + label,.ac-container input:checked + label:hover {
        color: #e88ab8;
        text-shadow: 0 1px 1px rgba(255,255,255,0.6);
        box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
        height: 50px;
    }

    .resultados label:hover:after,.ac-container input:checked + label:hover:after {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        right: 13px;
        top: 7px;
    }

    .resultados input {
        display: none;
    }

    .resultados article {
        background: rgba(255,255,255,0.5);
        margin-top: 0px;
        overflow: hidden;
        height: 0px;
        position: relative;
        z-index: 10;
        transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    }

        .resultados article p {
            font-style: normal;
            color: #777;
            padding: 30px;
            text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
            font: normal normal 12px 'Open Sans';
        }

    .resultados input:checked ~ article {
        box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
    }

    .resultados input:checked ~ article.ac-small {
        min-height: 80px;
    }

    .resultados input:checked ~ article.ac-medium {
        min-height: 180px;
    }

    .resultados input:checked ~ article.ac-large {
        min-height: 230px;
    }

    .resultados ul li {
        list-style: none;
        margin-left: -20px;
        border-radius: 10px;
    }

.resultado {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .resultado:hover {
        color: #555;
        background: #f7f7f7;
        cursor: pointer;
    }

    .resultados .article-resultados {
        border: 2px solid #eee;
        padding-left: 20px;
        margin-left: -40px;
        transition: all .1s ease-in-out;
        cursor: pointer;
    }

/*
 * -- TABLET (AND DOWN) MEDIA QUERIES --
 */

@media (max-width: 48em) {

    .splash {
        top: 60px;
        width: 90%;
        height: 50%;
    }

}    

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .content {
        padding: 1em;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .splash {
    	top: 50px;
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */

@media (min-width: 78em) {

    .splash-head {
        font-size: 300%;
    }
}


